# pixi environments
.pixi
*.egg-info

.vscode/
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/

samp  les_validate/
samples_validate/
samples_train/
samples_test/
finetuned*/
notebooks/sentiment_classification/